h1 , h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 700;
}

body {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
}

/* Heading */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 10%;
}

.title-img {
  transform: rotate(30deg);
  display: inline-block;
  text-align: center;
  width: 300px;
  position: absolute;
}

@media (max-width: 1024px) {
  .titles {
    text-align: center;
  }

  .title-img {
    transform: rotate(0deg);
    padding-top: 5%;
    display: inline-block;
    width: 60%;
    position: static;
  }
}

.titles {
  padding-top: 4.5rem;
  text-align: center;
}

/* Navigation Bar */
.nav-item {
  padding: 0 18px;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  padding: 0 0 0;
}

#features {
  text-align: center;
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  padding: 0 2%;
}

/* Buttons */
.btn {
  margin: auto 20px auto 0;
}

/* icons */
.icons {
  color: #EF8172;
  margin: auto 0 20px;
}

.icons:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #EF8172;
  color: #fff;
}

.testimonial-img {
  border-radius: 100%;
  width: 20%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press */
#press {
  background-color: #EF8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
  text-align: center;
}

/* Call to Action */

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

.cta {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
  padding-bottom: 7%;

}











/* footer */

#footer {
  text-align: center;
  padding: 5%;
}

.social-icon {
  margin: 20px 10px;
}
